.profile-grid {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
}

.sidebar {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    height: fit-content;
}

.nav-item {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--text-dark);
}

.nav-item:hover {
    background-color: var(--bg-light);
}

.nav-item.active {
    background-color: var(--primary-color);
    color: var(--white);
}

.content {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    padding: 2rem;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.section-title {
    color: var(--primary-color);
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-dark);
    font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
}

/* .address-card {
    border: 1px solid var(--border-color);
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
} */

.order-card {
    border: 1px solid var(--border-color);
    padding: 20px;
    margin-bottom: 20px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 10px;

    .order-id {
        font-size: 1.1rem;
        color: var(--primary-color);
        user-select: all;
    }

    .order-status {
        padding: 6px 15px;
        font-size: .9rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .status-ordered {
        background-color: #fef3cd;
        color: #856404;
    }

    .status-delivered {
        background-color: #d1ecf1;
        color: #0c5460;
    }

    .status-received {
        background-color: #d4edda;
        color: #155724;
    }
}

.order-card .cart-item {
    padding: 0;
    border: none;
    gap: 2rem;

    .item-actions a {
        padding: .8rem 1rem;
        width: 100%;
    }
}

/* .notification-item {
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: 15px;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-icon {
    width: 40px;
    height: 40px;
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.notification-icon svg {
    height: 100%;
    width: 100%;
    color: var(--primary-color);
}

.notification-content h4 {
    color: var(--text-dark);
    font-size: 14px;
    margin-bottom: 5px;
}

.notification-content p {
    color: var(--text-light);
    font-size: 13px;
}

.notification-time {
    color: var(--text-light);
    font-size: 12px;
    margin-top: 5px;
} */


@media (max-width: 900px) {
    .profile-grid {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media(max-width: 550px) {
    .order-card .cart-item {
        flex-wrap: wrap;
        .item-image {
            width: 60px;
        }

        .item-actions {
            width: 100%;
        }
    }
}